<div class="row">
  <table>
    <tr>
      <td><%= comment.comment %></td>
      <td><%= render :partial => 'votes/vote_comment', :locals => { :comment_id => comment.id } %></td>
    </tr>
  </table>
</div>
