<div class='container'>
  <div class='form-box'>
    <% if session[:user_id] %>
    <% else %>
      <div class='signup'>
        <p>Sign up</p>
        <%= render '/users/signup' %>
      </div>

      <div class='login'>
        <p>Login</p>
        <%= render '/users/login' %>
      </div>
    <% end %>
    <%= render :partial => 'events/index' %>
  </div>
</div>
