<div class='container'>
  <div class='form-box'>
    <div class='signup'>
      <p>Sign up</p>
      <%= render '/users/signup' %>
    </div>

    <div class='login'>
      <p>Login</p>
      <%= render '/users/login' %>
    </div>
  </div>
</div>
