<% if current_user.id == @event.user_id || current_user.admin %>
  <div class="event-link">
    <%= link_to 'Edit', edit_event_path(@event) %>
  </div>
  <div class="event-link">
    <%= link_to 'Delete', @event, :method => :delete %>
  </div>
<% end %>