<div id="form-box">
<div class="title-form">
  <h1>rake db:event:create</h1>
</div>
<%= render 'form' %>
<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
</div>