$light-cream: #f8e9da;
$light-blue: #66a997;
$light-red: #d67741;
$dark-red: #402d1c;
$dark-blue: #3b6157;
$light-green: #3d8fbe;
$dark-green: #16161f;
$light-brawn: #785140;
$dark-brawn: #2f1d15;
$background: url(asset_path('background.jpg', image));

@mixin trans_all_0_5_ease_in {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

@mixin trans_all_0_5_ease {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@mixin trans_all_0_3_ease_out {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@mixin trans_all_0_3_ease_in_0_2 {
  -webkit-transition: all 0.3s ease-in 0.2s;
  -moz-transition: all 0.3s ease-in 0.2s;
  -o-transition: all 0.3s ease-in 0.2s;
  -ms-transition: all 0.3s ease-in 0.2s;
  transition: all 0.3s ease-in 0.2s;
}

@mixin border_rad_all {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}