* {
  font-family    : Helvetica, Arial, sans-serif;
  color          : $dark-blue;
  font-size      : 14px;
  text-decoration: none;
  text-align     : left;
  font-style     : normal;
  font-weight    : 400;
  line-height    : 125%;
  margin         : 0;
  padding        : 0;
  outline        : 0;
  border         : 0;
  background     : none;
  border         : none;
  box-sizing     : border-box;
  -webkit-box-sizing     : border-box;
}

html {
  background: $background repeat;
  min-width: 100%;
  width: 100%;
  min-heigth: 100%;
  heigth: 100%;
}

body {
  min-width: 100%;
  width: 100%;
  min-heigth: 100%;
  heigth: 100%;
  text-align: center;
  z-index: 1;
}

input,
textarea {
  border: 1px solid $dark-red;
}