* {
  font-family    : Helvetica, Arial, sans-serif;
  color          : $dark-blue;
  font-size      : 14px;
  text-decoration: none;
  font-style     : normal;
  // font-weight    : 400;
  line-height    : 125%;
  margin         : 0;
  padding        : 0;
  outline        : 0;
  border         : 0;
  background     : none;
  border         : none;
  // box-sizing     : border-box;
  // -webkit-box-sizing     : border-box;
  // display        : block; 
}

html {
  background-color: $light-cream;
}

input,
textarea {
  border: 1px solid $dark-red;
}