 <div class="event-buttons">
  <span id="event-vote"><%= event.sum_votes %></span>
  <span><%= button_to "Upvote", event_upvote_path(event) %> </span>
  <span><%= button_to "Downvote", event_downvote_path(event) %> </span>
</div>